.form {
  margin: 40px;
  border-radius: 10px;
}

.form__legend {
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  color: #f6ebff;
  text-shadow: 2px 2px 0px #4b4b4d;
}

.form__option {
  padding: 5px;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  color: #808080;
}

.form__labelText {
  width: 100%;
  font-weight: 500;
  max-width: 100px;
  display: inline-block;
  margin-right: 5px;
  color: #f6ebff;
}

.form__paragraph {
  color: #faf5f5;
  font-size: 13px;
  padding: 5px;
}

.form__field {
  border: 1px solid #f6ebff;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  color: #4b4b4d;
}

.form__button {
  border: none;
  font-weight: 500;
  background-color: #f1f8f8;
  color: #808080;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.form__fieldset {
  border: 2px solid #f1f8f8;
  padding: 80px;
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
}

.form__button:hover {
  background-color: #d1e2e2;
}

.form__button:active {
  background-color: #f9f871;
}
