html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
  margin: 0px auto;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}
